@using E_Market.Core.Application.ViewModels.Categoria;
@model SaveCategoriaViewModel
@{
    bool editMode = Model.Id == 0 ? true : false;
    ViewData["Title"] = "Guardar categoria";
}

<div class="row">
    <div class="col-6 offset-3">

            <h4 class="card-title mt-3 text-center">@(editMode ? "Creando una nueva categoria" : $"Editando la categoria: {Model.Nombre}")</h4>
            <form method="post" asp-controller="Categoria" asp-action="@(editMode ? "Create" : "Edit")">

                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label">Nombre: </label>
                    <input type="text" asp-for="Nombre" class="form-control">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Descripcion" class="form-label">Descripcion: </label>
                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                </div>

                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-controller="Categoria" asp-action="Index" class="btn btn-warning">Volver atras</a>
            </form>
    </div>
</div>

